<h1>
    <span>YAMDB:</span> Yet Another Movie Database
</h1>
{% for movie in movies %}
    <div class="moviedetails" id="movie{{ loop.index }}">
        <h2>
            {{  movie.title }}
        </h2>
        <p>
            {{ movie.director }}
            {{ movie.release_date }}
            {{ movie.overview }}</p>
    </div>
{% endfor %}