{% block search %}

    <!-- search bar -->
    <div class="temp">
        <div class="col-md-6">
            {{ form_start(form, {'attr': {'action': path('search_movies'), 'method': 'GET'}}) }} {# Specify route and method for form submission #}
            <div class="form">
                <i class="fa fa-search"></i>
                {{ form_widget(form.query, { 'attr': {'class': 'form-control form-input', 'placeholder': 'Search anything...'} }) }} {# Render the search input field #}
                <span class="left-pan">{{ form_row(form.submit, {'label': 'Search', 'attr': {'class': 'btn btn-light'}}) }}</span> {# Render the submit button #}
                <div class="alert disabled">{{ form_errors(form.query) }}</div> {# Render errors for the search field #}
            </div>
            {{ form_end(form) }} {# End the form #}
        </div>
    </div>

{% endblock %}